.main {
 position:absolute;
 top:0;
 left:80px;

  display: flex; 
   flex-direction: column;
  flex: 1;
  background-color: #e4e4e4;
   /* width: 100vh; */
  --dm-bg: #111;
  margin: auto;
  /* z-index: 10; */
  width:94.5vw;
  min-height:100vh;
}

.main.dark {
  background-color: var(--dm-bg);
  color: white;
}
