.backHome{
    background-image: url('https://www.wallpaperflare.com/static/441/318/530/fantasy-art-pirates-treasure-skull-wallpaper.jpg');
    width:100vw;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    background-color: #1b1b1b;
}

